<!doctype html>
<html lang="en">
	<head>
		<title>Acceuil</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="home">Accueil</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="reglement">Reglement</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Professeur</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Eleves</a>
					</li>
				</ul>
			</div>
		</nav>

		<h1>Bienvenue</h1>

		<p>Lorem ipsum dolor sit amet. Quo vero dicta sit excepturi assumenda ea aliquam illo At dolores nemo ut nulla illo velit consectetur in velit vitae. Eum dolorum modi ut voluptates alias aut accusamus repellat est mollitia tempora et dolor doloremque. Qui rerum porro sed expedita debitis aut amet tenetur in consectetur porro autem minima nam error veniam qui nihil voluptates. Quo fugiat molestias est quidem consequatur eos sint omnis est iure culpa aut facere autem.
					Aut sapiente sequi et voluptas recusandae eum dignissimos sint qui laudantium repellat et aspernatur quia ut molestiae dolores eos vitae harum. Sit minima minima in enim voluptatem non expedita sint ab voluptas maxime non totam quam ut minus pariatur. Et provident doloribus et sunt eius ut eaque fuga ut inventore odit est doloribus minus. Eos rerum cumque sed iste nihil vel maiores quia?
				    Non voluptatem nobis aut corporis deleniti vel laboriosam delectus est temporibus fugit ex dignissimos tempora aut atque illum. A esse deserunt est quis ipsa et voluptatem beatae ea nulla doloremque.
					Lorem ipsum dolor sit amet. Quo vero dicta sit excepturi assumenda ea aliquam illo At dolores nemo ut nulla illo velit consectetur in velit vitae. Eum dolorum modi ut voluptates alias aut accusamus repellat est mollitia tempora et dolor doloremque. Qui rerum porro sed expedita debitis aut amet tenetur in consectetur porro autem minima nam error veniam qui nihil voluptates. Quo fugiat molestias est quidem consequatur eos sint omnis est iure culpa aut facere autem.
					Aut sapiente sequi et voluptas recusandae eum dignissimos sint qui laudantium repellat et aspernatur quia ut molestiae dolores eos vitae harum. Sit minima minima in enim voluptatem non expedita sint ab voluptas maxime non totam quam ut minus pariatur. Et provident doloribus et sunt eius ut eaque fuga ut inventore odit est doloribus minus. Eos rerum cumque sed iste nihil vel maiores quia?
					Non voluptatem nobis aut corporis deleniti vel laboriosam delectus est temporibus fugit ex dignissimos tempora aut atque illum. A esse deserunt est quis ipsa et voluptatem beatae ea nulla doloremque.
		</p>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
