<!doctype html>
<html lang="en">
	<head>
		<title>Acceuil</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<h1>Bienvenue</h1>
		<div class="jumbotron">
			<h1 class="display-3">Jumbo heading</h1>
			<p class="lead">Jumbo helper text</p>
			<hr class="my-2">
			<p>Réglement intérieur</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Réglement de l'école</a>
			</p>
		</div>

		<p>Lorem ipsum dolor sit amet. Et rerum recusandae hic quaerat rerum sed consequatur Quis. Et magni voluptatibus et nesciunt quas ut iure officiis! Qui corrupti corporis aut beatae nobis et fuga dolor in aspernatur dolores. Amet quia in eaque sapiente id cumque veritatis.
					Ut voluptatem expedita ut ratione nulla rem vero doloremque. Vel fugit enim est ullam velit aut voluptatem quasi aut saepe deserunt quo esse dicta. Sit illo quidem aut eveniet mollitia non sapiente cumque.
					Ut libero ducimus et quia tenetur in voluptatibus rerum. Et placeat tempora ex mollitia asperiores aut expedita excepturi. Ea accusantium architecto et repellendus Quis qui optio omnis?</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
